body {
    background: #1C2439;
    margin: 0;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    padding-left: 240px;
  }

  main {
    position: relative;
    height: 100vh;
  }

  main .helper {
    background: rgba(0, 0, 0, 0.2);
    color: #1C2439;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
  }

  main .helper span {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.4em;
    display: block;
  }

  .menu {
    background: #12192C;
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
  }

  .menu .avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 2em 0.5em;
    /* text-align: center; */
  }



  .menu .avatar h2 {
    font-weight: normal;
    margin-bottom: 0;
    color: #CA01B6;
    position: absolute;
    top: 20px;
    left: 60px;
  }

  .menu ul {
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
  }

  .menu ul li {
    padding: 0.5em 1em 0.5em 3em;
    font-size: 0.95em;
    font-weight: regular;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
  }

  .menu ul li.icon-upload {
    background-image: url("../img/upload.png");
  }

  .menu ul li.icon-allSongs {
    background-image: url("../img/allSongs.png");
  }

  .menu ul li.icon-createPlaylist {
    background-image: url("../img/playlist.png");
  }

  .menu ul li.icon-bullet {
    background-image: url("../img/bullet.png");
  }

  .icon-triangle {
    background-image: url("../img/triangle.png");
  }

  .menu ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu ul li:focus {
    outline: none;
  }

  .myTable tbody tr td {
    padding: 10px 15px;
    background-color: #C4C4C4;
    color: black;
  }

  .myTable thead tr td {
    padding: 10px 15px;
  }

  .myTable tbody tr td img {
    vertical-align: middle;
  }

  .myTable thead tr {
    background-color: #3A1E38;
  }

  .myTable {
    width: 90%;
    margin: 0 auto;
  }

  .allSongsLabel {
    margin-top: 50px;
    margin-left: 70px;
  }

  .progress {
    position: relative;
    height: 10px;
    border-radius: 5px;
    margin: 30px 20px 0px 20px;
    background: rgba(255, 255, 255, 0.3);


  }

  .played {
    width: 130px;
    height: 10px;
    border-radius: 5px;
    /* box-shadow: 2px #CA01B6; */
    position: absolute;
    background: #CA01B6;


  }

  .circle {
    width: 20px;
    height: 20px;
    background: #41053B;
    border-radius: 50%;
    margin-left: 120px;
    margin-top: -4px;
    box-shadow: 0px 0px 10px #CA01B6;
  }

  .btn {
    background-color: #41053B;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #CA01B6;
  }

  input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 30px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(80, 75, 75);
    opacity: 20%;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
  }

  #create_playlist {
    margin-top: 20px;
    background-color: white !important;
    opacity: 100%;
    border-radius: 5px;
  }


  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }


  .modal-content {
    background-color: #C4C4C4;
    margin: auto;
    width: 500px;
    height: 200px;
    border: 1px solid #888;
  }


  .close,
  .close2 {
    color: #aaaaaa;
    float: right;
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close2:hover,
  .close2:focus .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .button {
    background-color: #87037A;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
  }

  .button_cancel {
    background-color: #71566E;
  }



  @media screen and (max-width: 800px) {
    body {
      padding-left: 0;
    }

    .menu {
      width: 250px;
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
      transform: translate3d(-230px, 0, 0);
      transition: all 0.3s ease-in-out;
    }

    .menu .smartphone-menu-trigger {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 100%;
      background: #12192C;
    }

    .menu .smartphone-menu-trigger:before,
    .menu .smartphone-menu-trigger:after {
      content: '';
      width: 50%;
      height: 2px;
      background: #fff;
      border-radius: 10px;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    .menu .smartphone-menu-trigger:after {
      top: 55%;
      transform: translate3d(-50%, -50%, 0);
    }

    .menu ul li {
      padding: 1em 1em 1em 3em;
      font-size: 1.2em;
    }

    .menu:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
    }

    .menu:focus .smartphone-menu-trigger {
      pointer-events: none;
    }
  }